.container{
    padding: 0% 10%;
}
.box{
    padding: 4% 2%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.precio{
    font-weight: 700;
    font-size: 30px;
}

.form-check-label{
    padding-left: 4%;
}

h3{
    font-weight: 700;
}

.text-presupuesto{
    font-size: 20px;
}

#total-presupuesto{
    margin-left: 4%;
    font-weight: 900;
}