<!-- SEO -->
<div class="row d-flex align-items-center box">
    <div class="col">
        <h3>{{servicios[0].nombre}}</h3>
        <p>{{servicios[0].description}}</p>
    </div>
    <div class="col d-flex justify-content-center"><b><span #asPrecioSeo id="precio-seo"
                class="precio">{{servicios[0].valor}}</span>€</b></div>
    <div class="col form-check d-flex justify-content-end">
        <input class="form-check-input" type="checkbox" value="servicios[0].valor" #asCheckbox id="Seo"
            (change)="elegirServicio(servicios[0].valor, $event)">
        <label class="form-check-label" for="Seo">
            Afegir
        </label>
    </div>
</div>
<!-- ADS -->
<div class="row d-flex align-items-center box">
    <div class="col">
        <h3>{{servicios[1].nombre}}</h3>
        <p>{{servicios[1].description}}</p>
    </div>
    <div class="col d-flex justify-content-center"><b><span #asPrecioAds id="precio-ads"
                class="precio">{{servicios[1].valor}}</span>€</b></div>
    <div class="col form-check d-flex justify-content-end">
        <input class="form-check-input" type="checkbox" value="servicios[1].valor" #asCheckbox id="Ads"
            (change)="elegirServicio(servicios[1].valor, $event)">
        <label class="form-check-label" for="Ads">
            Afegir
        </label>
    </div>
</div>
<!-- WEB -->
<div class="row d-flex align-items-center box">
    <div class="col">
        <h3>{{servicios[2].nombre}}</h3>
        <p>{{servicios[2].description}}</p>
    </div>
    <div class="col d-flex justify-content-center"><b><span #asPrecioWeb id="precio-web"
                class="precio">{{servicios[2].valor}}</span>€</b></div>
    <div class="col form-check d-flex justify-content-end">
        <input class="form-check-input" type="checkbox" value="servicios[2].valor" #asCheckbox id="Web"
            (change)="elegirServicio(servicios[2].valor, $event)">
        <label class="form-check-label" for="Web">
            Afegir
        </label>
    </div>
    <div class="pannel hidden" #asPannel>
        <app-panel (pagesChanged)="onPagesChanged($event)" (languajesChanged)="onLanguajesChanged($event)"></app-panel>
    </div>
</div>
<div class="d-flex justify-content-end text-presupuesto">
    <b>Preu pressuposat: <span #asTotalPresu id="total-presupuesto">{{totalPresuValor}}</span>€</b>
</div>

<div class="box">
    <h3><b>Demanar pressupost</b></h3>
    <form [formGroup]="formPressu" class="d-inline-flex align-items-center justify-content-end botones">
        <input type="text" class="form-control" placeholder="Nom" id="username" formControlName="username">
        <input type="number" formControlName="phoneNumber" class="form-control" placeholder="123 456 678" minlength="9" maxlength="12">
        <input type="email" formControlName="email" class="form-control" placeholder="Email">
        <button type="button" class="btn btn-success" (click)="showPresu()">Sol·licitar pressupost <span class="material-symbols-outlined">
            arrow_forward
            </span></button>
    </form>
</div>
<hr class="linea">
<div id="result-presu" [ngStyle]="classResultPresu" #asResultPresu>
    <h3><b>Pressupostos en curs:</b></h3>
    <div class="botones d-flex justify-content-end">
        <svg xmlns="http://www.w3.org/2000/svg" class="browser-icon" [ngClass]="{'ocultar': LupaOculta}"
                viewBox="0 0 20 20" fill="currentColor" (click)="displayBrowser()" id="browser-icon">
                <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd" />
        </svg>
        <div id="browser-oculto" [ngClass]="{'visible': browserVisible}" class="browser-oculto">
            <input type="text" name="buscador" id="buscador" class="form-control" #asBuscador
                placeholder="Cerca el pressupost ">
            <svg xmlns="http://www.w3.org/2000/svg" class="input-icon"
                viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd" />
            </svg>
        </div>

        <button type="button" class="btn active-filter" (click)="orderByDate()" #asButtonDate>Data</button>
        <button type="button" class="btn" (click)="orderByPrice()" #asButtonPrice>Import</button>
        <button type="button" class="btn" (click)="orderByName()" #asButtonName>Nom</button>
    </div>
</div>