.linea{
  width: 95%;
  height: 0;
  border: medium none;
  border-top: 3px dashed #4b4b4b !important;
}

.box{
    padding: 4% 6%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.username-style{
  font-weight: 700;
  font-size: larger;
}

.title-col2{
  font-weight: 700;
}