.btn{
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-field{
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}

.modal-header{
    border-bottom: 0px;
}
.modal-content{
    padding: 4%;
}