<div class="modal fade" id="modal-pages" aria-hidden="true" aria-labelledby="modal-pagesLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal-pagesLabel"><b>Número de pàgines</b></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Afegeix el número de pàgines que tindrà el teu projecte. El cost de cada nova pàgina és de 30€</p>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="modal-languajes" aria-hidden="true" aria-labelledby="modal-languajesLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header ">
          <h1 class="modal-title fs-5" id="modal-languajesLabel"><b>Número de llenguatges</b></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Afegeix el número de llenguatges que tindrà el teu projecte. El cost de cada nou llenguatge  és de 30€</p>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="num-pages d-inline-flex align-items-center justify-content-end">
        <!-- pop-up -->
        <button type="button" class="btn btn-information" data-bs-toggle="modal" data-bs-target="#modal-pages">i</button>

        <p>Nombre de pàgines: </p>
        <form [formGroup]="formWeb" class="d-inline-flex align-items-center justify-content-end">
            <button type="button" class="btn" (click)="removePage()" [disabled]="isUnchanged">-</button>
            <input type="number" formControlName="numberOfPages" [value]="numPages" class="number-field" placeholder="1" id="numPagesInput">
            <!-- <div class="number-field">{{numPages}}</div> -->
            <button type="button" class="btn" (click)="addPage()">+</button>
        </form>
        
    </div>
</div>
<div class="row">
    <div class="num-languajes d-flex justify-content-end align-items-center">
        <!-- pop-up -->
        <button type="button" class="btn btn-information" data-bs-toggle="modal" data-bs-target="#modal-languajes">i</button>

        <p>Nombre de llenguatges: </p>
        <form [formGroup]="formWeb" class="d-inline-flex align-items-center justify-content-end">
          <button type="button" class="btn" (click)="removeLanguaje()" [disabled]="isUnchanged">-</button>
          <input type="number" formControlName="numberOfLanguajes" [value]="numLanguajes" class="number-field" placeholder="0" id="numLanguajesInput">
          <!-- <div class="number-field">{{numLanguajes}}</div> -->
          <button type="button" class="btn" (click)="addLanguaje()">+</button>
        </form>
        
    </div>
</div>